html {
    background-color: green;
    font-size: 16px;
}

body {
    background-color: aliceblue;
    width: 50%;
    font-size: 1em;
}

.pai {
    background-color:aqua ;
    width: 50%;
    font-size: 2em;
}

.filho{
    background-color: aquamarine;
    width: 50%;
    font-size: 3em;
}

.filha{
    background-color: rgb(16, 157, 161);
    width: 50%;
    font-size: 4em;
}                       