.subtitulo {
    background-color: darkmagenta;
    color: aliceblue;
}

.sub1 {
    background-color: blueviolet;
    color: aliceblue;
}

.sub2 {
    background-color: blue;
    color: aliceblue;
}

.rodapé {
    background-color: cadetblue;
    color: aliceblue;
}