#Sub1 {
    background-color: blue;
    color: aliceblue;
}

#Sub2 {
    background-color: blueviolet;
    color: aliceblue;
}

#P1 {
    background-color: darkgreen;
    color: aliceblue;
}

#P2 {
    background-color: crimson;
    color: aliceblue;
}