h1 {
    color: rgb(0, 191, 255);
}

p {
    color: aqua;
}

body {
    background-color: black;
}

th {
    color: aqua;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: white;
}