.bg {
    background-color: aqua;
    width: 400px;
    height: 450px;
    background-image: url(./abstract-green-background-20l9hsthidshgxtv.jpg);
   /* background-repeat: no-repeat; */
   /* background-size: cover; */
   /* background-repeat: repeat-x; */

  /* background-position: left bottom; */
    /* background-position: right top; */

    background-attachment: scroll;

}