:root {
    --branco: #fff;
    --branco-secundario: #f9f9f9;
    --botao-laranja:#ff740a;
    --cor-de-fundo: #f000;
    --fonte-primaria: 'bangers';
    --fonte-secundaria: ;
}

body {
    background-color:black;
    color:var(--branco)

}

.container {  
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25))  url(./imagens/Background.png) ;
    background-repeat: no-repeat;
    background-size: contain ;
    text-align: center;
    align-items: center;
}

.container_caixa {
    margin: 0 6cm ;
}

.container_titulo {
    font-size: 28px;
}

.container_imagem {
    margin: 1cm 0 2cm 0;
}

.container_botao {
    background-color: var(--botao-laranja);
    border-radius: 5px;
    padding: 1cm;
    color: var(--branco);
    display: block;
    text-decoration: none;
    margin: 1cm;
}

.container_botao2 {
    background-color: transparent;
    border: 2px solid var(--branco);
}