.link {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
.link:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.link:visited {
    color: rgb(17, 0, 255);
}

.link:active {
    background-color:rgb(0, 0, 0) ;
}